Repository NVIDIA-Merlin/NVTabular, pull requests merged in 2021-04, with the labels that each got.

#693 Fix type conversion from string to int for batch size parameter in Horovod examples
  examples/horovod/tf_hvd_simple.py
  examples/horovod/torch-nvt-horovod.py
  tests/unit/test_tf_dataloader.py
  tests/unit/test_torch_dataloader.py
Labels: MultiGPU, PyTorch, TensorFlow

#695 Fix Torch dataloader device param to reflect single device per process
  examples/horovod/torch-nvt-horovod.py
Labels: MultiGPU, PyTorch, bug

#690 [WIP] Example with multi-GPU for both feature engineering and training
  examples/README.md
  examples/multi-gpu-movielens/01-03b-MultiGPU-Download-Convert-ETL-with-NVTabular-Training-with-TensorFlow.ipynb
Labels: MultiGPU, TensorFlow

#705 Fix `batch_size` param name in multi-GPU Tensorflow notebook
  examples/multi-gpu-movielens/01-03b-MultiGPU-Download-Convert-ETL-with-NVTabular-Training-with-TensorFlow.ipynb
Labels: MultiGPU, P0, bug

#702 Generate local seeds from global seed before and after shuffling dataset
  nvtabular/loader/backend.py
  tests/unit/test_dataloader_backend.py
Labels: MultiGPU, bug

#717 Fix test_tf_layers on A100
  tests/unit/test_tf_layers.py
Labels: bug

#725 Remove the old `examples/horovod` folder now that notebooks exist
  examples/horovod/hvd_wrapper.sh
  examples/horovod/tf_hvd_simple.py
  examples/horovod/torch-nvt-horovod.py
Labels: MultiGPU

#726 Fix multi-GPU tests after the Horovod example scripts were removed
  examples/multi-gpu-movielens/01-03b-MultiGPU-Download-Convert-ETL-with-NVTabular-Training-with-TensorFlow.ipynb
  examples/multi-gpu-movielens/hvd_wrapper.sh
  examples/multi-gpu-movielens/tf_trainer.py
  examples/multi-gpu-movielens/torch_trainer.py
  tests/unit/test_tf_dataloader.py
  tests/unit/test_torch_dataloader.py
Labels: MultiGPU, bug

#723 Create example notebook for multi-gpu training with PyTorch and Horovod
  examples/multi-gpu-movielens/01-03b-MultiGPU-Download-Convert-ETL-with-NVTabular-Training-with-PyTorch.ipynb
Labels: MultiGPU, PyTorch

#724 Update multi-GPU training example with Tensorflow/Horovod to use `pathlib`
  examples/multi-gpu-movielens/01-03b-MultiGPU-Download-Convert-ETL-with-NVTabular-Training-with-TensorFlow.ipynb
  examples/multi-gpu-movielens/tf_trainer.py
Labels: MultiGPU, TensorFlow
